// TODO: declare variables
$primary: #563d7c;
$secondary: #ececec;

$spacer: 2rem;

$label-font-weight: 600;

@import "../../node_modules/bootstrap/scss/bootstrap";

label {
  font-weight: $label-font-weight;
}

#mc_embed_signup {
  input.button {
    background-color: $primary;
  }
}
