// TODO: declare variables
$primary: #563d7c;
$secondary: lighten(#ececec, 2%);

$spacer: 2rem;

$label-font-weight: 600;

@import "../../node_modules/bootstrap/scss/bootstrap";

label {
  font-weight: $label-font-weight;
}

.form-control {
  &-secondary {
    border-color: $secondary;
    border-radius: 0;
    background-color: $secondary;
    color: $primary;

    &:focus {
      background-color: $secondary;
    }
  }
}

#mc_embed_signup {
  background-color: $secondary;

  label {
    color: $primary;
  }

  input.button {
    background-color: $primary;
  }
}
