<div style="height: 80vh; background-position: center bottom; background-size: cover; background-repeat: no-repeat; background-image: url('//images.ctfassets.net/xu4zh386cjva/18PdxBV4K62USMKKUU4EcW/6694d833a69d88bfffebfd62ee09b444/Screen_Shot_2018-05-16_at_1.16.10_PM.png')">
  <div class="jumbotron jumbotron-fluid text-white" style="background-color: transparent;">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 mt-5 pt-5">
          <p class="lead">
            Find a trusted
            <a href="#" class="text-white">homeopathy</a>
            practicioner<br />
            in Auckland.
            </p>
          <form method="post" action="search">
            <div class="form-group">
              <input
                type="search"
                name="query"
                placeholder="Search practicioners"
                class="form-control"
              />
              <small class="form-text">e.g. Yoga, Bowen Therapy, etc.</small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
