<div class="container-fluid bg-light py-5">
  <div class="container">
    <form>
      <div class="form-group row my-5">
        <label class="col-12 col-md-7 col-lg-6 col-form-label text-center text-md-right">
          Sign up for We Are Us news and special offers
        </label>
        <div class="col-12 col-md-4">
          <input type="email" class="form-control" placeholder="email@example.com">
        </div>
      </div>
    </form>
  </div>
</div>
