<div class="container-fluid bg-dark mx-0 px-0 py-5 mb-0 text-white" style="background-position: center bottom; background-size: cover; background-image: url(/public/assets/promo_image.jpg);">
  <div class="container">
    <div class="row my-5">
      <div class="col-12 col-md-8">
        <h2>
          Early Bird Offer
        </h2>
        <h3>
          Register now and get your 2nd year free!
        </h3>
        <p>
          Register with We Are Us pre-launch and your second
          year is on us to say thank you for your support.
          You must register before 1 Dec 2018 to take advantage
          of this great offer.
        </p>
        <a href="/register" class="btn btn-primary btn-lg">Register today!</a>
      </div>
    </div>
  </div>
</div>
