# npm modules
node_modules

# log files
*.log

# .env file
.env

# Parcel cache
.cache

# Generated JavaScript
client/**/*.js
client/**/*.js.map
server/**/*.js
server/**/*.js.map

# Generated output
dist/
deploy/
public/app.js
public/app.map
public/screen.css
public/sceeen.css.map
deploy.zip
report.html
