<div class="container pt-5">
  <h2 class="h2 text-primary text-center">Membership Details</h2>
  <div id="react-root"></div>
</div>
{{#if jsBundle}}
  <script src="{{jsBundle}}"></script>
{{/if}}
<div class="container pb-3">
  <h2 class="h2 text-primary text-center">Your Order</h2>
  <div class="row border-top border-bottom py-1">
    <div class="col-4 font-weight-bold">
      Membership
    </div>
    <div class="col-8">
      {{membership}}
    </div>
  </div>
  <div class="row border-bottom py-1">
    <div class="col-4 font-weight-bold">
      Total
    </div>
    <div class="col-8">
      {{total}} / year
    </div>
  </div>
  <div class="row border-bottom py-1">
    <div class="col-4 font-weight-bold">
      Recurring Totals
    </div>
    <div class="col-8">
      {{recurringTotal}} / year
    </div>
  </div>
</div>
<div class="container pt-1 pb-3">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary btn-lg px-4">Payment</button>
    </div>
  </div>
</div>
