<style>
  .bg-inner {
    width: 100%;
    height: 100%;
    background-color: transparent; /* fallback color */
    background-image: url("/public/assets/header_image_desktop.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
</style>
<div class="bg-wrapper">
  <div class="bg-inner">
    <div class="jumbotron jumbotron-fluid text-white" style="background-color: transparent;">
      <div class="pb-3 container">
        <div class="row">
          <div class="d-none d-md-block col-md-3"></div>
          <div class="col-12 col-md-6 lead text-center">
            <div style="height: 80vh;">
              <img src="/public/assets/Logo_White.svg" itemProp="logo" height="32" />
              <div style="position: absolute; bottom: 0;">
                <h3 class="h3 text-primary">
                  An exciting new platform to grow your health, wellness<wbr/> &amp; self-improvement business.
                </h3>
                <h3 class="h3 text-primary">
                  Launching early 2019
                </h3>
                <div>
                  <a href="mailto:info@weareus.co.nz" class="text-primary">info@weareus.co.nz</a>
                </div>
              </div>
            </div>
          <div class="d-none d-md-block col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
