<div class="container pt-5 pb-3">
  <div class="row">
    <div class="col-12">
      <h2 class="h2 text-primary text-center">Profile Set-up</h2>
      <h4 class="h5">
        Great, now that you are one of us, we want to get you
        started in the best possible way.
      </h4>
      <p>
        So before you get started, ensure you check out the
        <a href="/practitioner-how-to-guide">how-to guide</a>
        we've put together for you on how to showcase your business
        with templates and information so you can put your best foot
        forward.
      </p>
    </div>
  </div>
  <form>
    <div class="row border-top">
      <div class="col-12">
        <div class="form-group mt-2">
          <label class="font-weight-bold text-primary">Your profile name</label>
          <span class="form-text">This is the name of your practice or your own name.</span>
          <input type="text" class="form-control form-control-secondary"/>
        </div>
      </div>
    </div>
    <div class="row border-top">
      <div class="col-12 mt-2">
        <span class="font-weight-bold text-primary">Your contact details</span>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <span class="form-text">Your contact phone number</span>
          <input name="phoneNumber" type="tel" class="form-control form-control-secondary"/>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <span class="form-text">Your contact email</span>
          <input name="emailAddress" type="email" class="form-control form-control-secondary"/>
        </div>
      </div>
      <div class="col-5 col-md-4">
        <div class="form-group">
          <span class="form-text">Building <span class="d-none d-md-inline">name/</span>number</span>
          <input name="building" type="text" class="form-control form-control-secondary"/>
          <small class="form-text text-muted">e.g. 1</small>
        </div>
      </div>
      <div class="col-7 col-md-8">
        <div class="form-group">
          <span class="form-text">Street</span>
          <input name="street" type="text" class="form-control form-control-secondary"/>
          <small class="form-text text-muted">e.g. Molesworth Street</small>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <span class="form-text">Town/Suburb</span>
          <input name="suburb" type="text" class="form-control form-control-secondary"/>
        </div>
      </div>
      <div class="col-9">
        <div class="form-group">
          <span class="form-text">City</span>
          <input name="city" type="text" class="form-control form-control-secondary"/>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <span class="form-text">Postcode</span>
          <input name="postcode" type="number" class="form-control form-control-secondary"/>
        </div>
      </div>
    </div>
    <div class="row border-top">
      <div class="col-12 mt-2">
        <span class="font-weight-bold text-primary">Your profile image</span>
        <p class="form-text">
          This is where you put your headshot so people can put a face to a name.<br/>
          Size: 720px wide by 720px high
        </p>
        <div>
          <img src="" width="240" height="240"/>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile"/>
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
    </div>
    <div class="row border-top">
      <div class="col-12 mt-2">
        <span class="font-weight-bold text-primary">About your practice</span>
        <p class="form-text">
          First impressions count. The first 120 characters, or about 20 words,
          is what shows if you're featured on the home page after launch, and on
          your profile page the first 70 words of the first paragraph are shown
          on your listing. The best length for your copy is the time it takes to
          get your message across.
        </p>
        <textarea rows="6" class="form-control form-control-secondary w-100" style="resize: none;"></textarea>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <button class="btn btn-primary btn-lg btn-block">Save</button>
        <button class="btn btn-outline-primary btn-lg btn-block">Send for Approval</button>
      </div>
    </div>
  </form>
</div>
