<div class="pt-5 pb-3 container text-center">
  <h2 class="mt-5 text-primary">
    Choose your professional practitioner subscription.
  </h2>
  <div class="card-group mt-4">
    <div class="card text-left shadow">
      <div class="bg-light py-4 px-5">
        <strong class="text-primary">Basic</strong>
        <p>Great for those starting out</p>
        <p class="h1 text-primary">
          $30
        </p>
        <p>NZD / month</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
      <div class="card-body px-5">
        <h5 class="card-title">Features</h5>
        <p class="card-text">

        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card text-left shadow">
      <div class="bg-light py-4 px-5">
        <strong class="text-primary">Standard</strong>
        <p>Great for growing your business</p>
        <p class="h1 text-primary">
          $50
        </p>
        <p>NZD / month</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
      <div class="card-body px-5">
        <h5 class="card-title">Features</h5>
        <p class="card-text">

        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="pt-5 pb-3 container text-center bg-light">

</div>
{{> promo}}
{{> newsletter}}
