<!DOCTYPE html>
<html lang="en-NZ" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>We Are Us</title>
  {{> gtm}}
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{clear:left; width:100%;}
  </style>
  <link rel="stylesheet" href="/public/screen.css"/>
  {{> mailchimp}}
</head>
<body>
  {{> gtm-iframe}}
  {{> navigation}}
  {{{ content }}}
  {{> footer}}
  {{#if jsBundle}}
    <!--
      <script src="{{jsBundle}}"></script>
    -->
  {{/if}}
</body>
</html>
