<!DOCTYPE html>
<html lang="en-NZ" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>We Are Us</title>
  {{> app-insights}}
  {{> gtm}}
  <link rel="stylesheet" href="/public/screen.css"/>
</head>
<body>
  {{> gtm-iframe}}
  {{{ content }}}
  {{#if jsBundle}}
    <script src="{{jsBundle}}"></script>
  {{/if}}
</body>
</html>
